<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <div class="page new">
        <h1>Create a Post</h1>
    
        <form action="/snap-stream/new" method="post" enctype="multipart/form-data">
            <div class="row">
                <label for="image">Post: </label>
                <input name="image" type="file" required>
            </div>

            <div class="row">
                <label for="content">Content: </label>
                <input name="content" type="texts">
            </div>


            <div class="row">
                <button>Upload Post</button>
            </div>
            <div class="row">
                <label for="tag">Tags: </label>
                <input name="tag" type="texts" id="tagInput">
            </div>
            <div id="tagList" class="row">
                
            </div>
            <button type="button" id="tagBtn" onclick="addTag()" class="row">Add Tag</button>
        </form>
    </div>

    <script>
        let i = 0;
        function addTag()
        {
            const tagInputEl = document.querySelector("#tagInput");
            const tagListEl = document.querySelector("#tagList");
            
            tagListEl.innerHTML += `<label for="tag_${i}"></label>
            <input name="tag_${i}" value="${tagInputEl.value}">`;
            i++;
            tagInputEl.value = "";
            
        }
    </script>
</body>
</html>