<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap Stream</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <form action="/snap-stream/back" method="post">
        <button class="backBtn" type="submit">Back</button>
    </form>

    <div class="new">
        <h1>Create a Post</h1>
    
        <form action="/snap-stream/new" method="post" enctype="multipart/form-data">
            <label for="image">Post: </label>
            <input name="image" type="file" required>

            <label for="content">Content: </label>
            <input name="content" type="text">


            <button class="row">Upload Post</button>

            <hr class="row">

            <label for="tag">Tags: </label>
            <input name="tag" type="text" id="tagInput" class="tagSize">
            <div id="tagList" class="row">
                
            </div>
            <button type="button" id="tagBtn" onclick="addTag()" class="row">Add Tag</button>
        </form>
    </div>

    <script>
        let i = 0;
        function addTag()
        {
            const tagInputEl = document.querySelector("#tagInput");
            const tagListEl = document.querySelector("#tagList");
            
            tagListEl.innerHTML += `<label for="tag_${i}" class="tagSize"></label>
            <input name="tag_${i}" value="${tagInputEl.value}" class="tagSize">`;
            i++;
            tagInputEl.value = "";
            
        }
    </script>
</body>
</html>