<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Create a Post</h1>
    
    <form action="/snap-stream/new" method="post" enctype="multipart/form-data">
        <label for="image">Image: </label>
        <input name="image" type="file">

        <label for="content">Content: </label>
        <input name="content" type="texts">

        <% let tags = []; %>
        <label for="tag">Tags: </label>
        <input name="tag" type="texts" id="tagInput">
        <div id="tagList">
            
        </div>
        <button type="button" id="tagBtn" onclick="addTag()">Add Tag</button>

        <button>Upload Post</button>
    </form>


    <script>
        let i = 0;
        function addTag()
        {
            const tagInputEl = document.querySelector("#tagInput");
            const tagListEl = document.querySelector("#tagList");
            
            tagListEl.innerHTML += `<label for="tag_${i}">Tag: </label>
            <input name="tag_${i}" value="${tagInputEl.value}">`;
            i++;
            tagInputEl.value = "";
            
        }
    </script>
</body>
</html>