<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Create a Post</h1>
    
    <form action="/snap-stream/new" method="post" enctype="multipart/form-data">
        <label for="image">Image: </label>
        <input name="image" type="file">

        <label for="content">Content: </label>
        <input name="content" type="texts">

        <button>Upload Post</button>
    </form>
</body>
</html>