<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <div class="page">
    <%- include("../partials/header") %>
    
    <div class="container">
        <% allPosts.forEach((post) => { %>
            <a href="/snap-stream/<%= post._id %>">
            <div class="post-card">
                <img src="<%= post.image %>" alt="post-image">
            </div>
            </a>
        <% }); %>
    </div>
    </div>
</body>
</html>