<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settinsg</title>
</head>
<body>
    <h1>Settings</h1>
    <% if(foundUser.image) {%>
        <img src="<%= foundUser.image %>">
    <% } else { %>
        <img src="/images/person.png">
    <% } %>
    
    <form action="/snap-stream/settings/profile-image" method="post">
        <label for="profileImage">Profile Image: </label>
        <input name="profileImage" type="file">
    </form>

</body>
</html>