<% function createPosts(allPosts) { %>
    <% allPosts.forEach((post) => { %>
        <div class="post">
            <a href="/snap-stream/<%= post._id %>">
            <img src="<%= post.image %>" alt="post-image">
            </a>
        </div>
    <% }); %>
<% } %>

