<div className="tabsContainer">
    <a href="/snap-stream/profile"><button>Profile</button></a>
    <a href="/snap-stream/home"><button>Home</button></a>
    <a href="/snap-stream/search"><button>Search</button></a>
    <a href="/auth/logout"><button>Logout</button></a>
</div>