body
{
    padding: 0;
    margin: 0;
}

.tabsContainer
{
    border: 1px solid black;
    width: 20%;
    height: 100vh;
    display: block;
    margin: -1px;
}

header
{
    position: absolute;
    border: 1px solid black;
    width: 80%;
    right: 0%;
    text-align: center;
    margin: -1px;
    top: 0;
    z-index: 1;
}

.addPost
{
    right: 0;
    margin-right: 2em;
    float: right;
}

.container
{
    position: absolute;
    border: 1px solid black;
    width: 80%;
    right: 0%;
    text-align: center;
    margin: -1px;
    top: 0;
    z-index: 0;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post
{
    background-color: rgb(54, 54, 54);
    width: 200px;
    height: 200px;
    
}

.post img
{
    width: 200px;
    height: 200px;
}